body {
  font-family: Monospace;
  margin: 20px;
}

h1 {
  text-align: center;
}

#chatBox {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

input[type="text"] {
  width: 200px;
  margin-right: 10px;
  font-family: Courier;
}

button {
  padding: 5px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-family: Courier;
}

button:hover {
  background-color: #45a049;
}

strong {
  color: #008CBA;
}

textarea {
  font-family: Courier;
}
